.titulo{
  text-align:center;
}

body{
  background-color: #EFE9E5;
}
.tab{  
  margin:auto;
  margin-top: 4%;
  align-content: center;
  width: 38%;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow:  3px 2px 3px rgb(26, 139, 26);
  padding: 0px 50px;
  padding-bottom: 20px;
  background: white;  
  background-size: cover;
}

.example-button-row button,
.example-button-row {
  align-content: center;
  margin: auto;
  width: 200px;
}
.space-between-row {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.example-form {
  min-width: 150px;
  max-width: 900px;
  width: 100%;    
}
.example-full-width {
  width: 100%;
  
} 
.inputcenter{
  padding-left: 18px;
  margin-left: -14px;    
}