<app-toolbar></app-toolbar>

<body>
  <mat-list>
    <div class="tab">
      <h1 class="titulo">Certificado de Depósito Interbancário</h1>
      <mat-list-item style="align-content: center"><mat-icon class="example-tab-icon">account_balance</mat-icon> Agencia |  {{user?.account.bankBranch}} <mat-icon class="example-tab-icon"> credit_card</mat-icon>  Número da Conta:
      {{user?.account.numberAccount}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><mat-icon class="example-tab-icon">trending_up</mat-icon>Taxa de rendimento: 6.43%</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><mat-icon class="example-tab-icon">trending_down</mat-icon>Aplicação mínima: R$20,00</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><mat-icon class="example-tab-icon">trending_flat</mat-icon>Seu saldo atual disponível: R${{user?.account.balance}}</mat-list-item>
      <mat-divider></mat-divider>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="text" class="inputcenter" mask="comma_separator.2" matInput
            placeholder="Digite aqui o valor que deseja aplicar" prefix="R$">
        </mat-form-field>

      </form>
      <div class="example-button-row space-between-row example-full-width">
        <button mat-flat-button color="primary" (click)="createInvestmentCDI()">Aplicar</button>
        <button mat-flat-button color="warn" (click)="voltarInvestimento()">Cancelar</button>
      </div>

    </div>
  </mat-list>
</body>