<div class="fundo">
  <body class="fundo">    
    <app-toolbar></app-toolbar>
      <div class="top">            
        <div class="imagens">
            <div class="container">
                <div class="cards">                
                <div class="alinhando">
                <mat-card class="example-card" (click)="detalhesConta()">               
                  <mat-card-header>      
                    <div mat-card-avatar class="example-header-image"></div>        
                    <mat-card-title class="titleCorrente">Detalhes da Conta</mat-card-title>    
                  </mat-card-header>            
                  <img mat-card-image src="../../../assets/img/detalhes-da-conta.jpg" >        
                  <mat-card-content>        
                    <p>
                      Saiba todas as informações sobre sua conta.
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-flat-button color="primary" class="abraConta">Abra sua conta</button>  
                  </mat-card-actions>
                </mat-card>       
                <mat-card class="example-card2" (click)="emprestimo()">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title class="titleCorrente">Emprestimo</mat-card-title>    
                  </mat-card-header>
                  <img mat-card-image src="../../../assets/img/emprestimo.jpg" >
                  <mat-card-content>
                    <p>
                      Precisando de um emprestimo? Venha conferir.
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-flat-button color="primary" class="abraConta">Realize emprestimo</button>  
                  </mat-card-actions>
                </mat-card>
                <mat-card class="example-card3" (click)="investmento()">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title class="titleCorrente">Investimento</mat-card-title>    
                  </mat-card-header>
                  <img mat-card-image src="../../../assets/img/investimento.jpg" >
                  <mat-card-content>
                    <p>
                      Realize seus investimentos de maneira rápida e eficaz!
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-flat-button color="primary" class="abraConta">Acesse o investimento</button>  
                  </mat-card-actions>
                </mat-card>
                <mat-card class="example-card4" (click)="transferencia()">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title class="titleCorrente">Transferência</mat-card-title>    
                  </mat-card-header>
                  <img mat-card-image src="../../../assets/img/transferencia.jpg" >
                  <mat-card-content>
                    <p>
                      Realize transfêrencias de forma segura e rápida agora mesmo.
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-flat-button color="primary" class="abraConta">Abra sua conta</button>  
                  </mat-card-actions>
                </mat-card>
                </div>
            </div> 
                         
          </div> 
        </div>       
      </div>
 </body>

</div>

  
  
