<app-toolbar></app-toolbar>

<body class="tab">
    <div class="center">
        <h1 class="titulo">Transferência</h1>
        <div class="example-container" [formGroup]="transf">
            <mat-list-item style="align-content: center" class="inputPad"><mat-icon class="example-tab-icon">account_balance</mat-icon> Agencia: {{user?.account.bankBranch}} | <mat-icon class="example-tab-icon">credit_card</mat-icon>Número da Conta:
                {{user?.account.numberAccount}}</mat-list-item>
            <mat-divider class="margin-bottom-center"></mat-divider>

            <mat-form-field>
                <input matInput type="text" formControlName="value" placeholder="Valor a ser transferido"
                    mask="comma_separator.2" prefix="R$">
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="accountReciever" type="number"
                    placeholder="Número da conta que receberá a transferência">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="password" type="password" matInput placeholder="Confirme sua senha">
            </mat-form-field>
        </div>
        <div class="example-button-row space-between-row example-full-width">
            <button mat-flat-button color="primary" (click)="doTransfer(transf)"> Transferir</button>
            <button mat-flat-button color="warn" (click)="cancelar()">Cancelar</button>
        </div>
    </div>
</body>