
.example-container {
     display: flex;
     flex-direction: column;
}

  .tab{  
    margin:auto;
    margin-top: 4%;
    align-content: center;
    width: 38%;
    height: min-content;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 1px 1px 5px red;
    padding: 0px 50px;
    padding-top: 1.5%;
    background: white;  
  }

  .inputPad{
      margin-top: 3%;
      margin-bottom: 1%;
      color: gray;
      align-content: flex-start !important;
  }

  .margin-bottom-center{
      margin-bottom: 3.2%;
      align-content: center;
      align-items: center;
      text-align: center;
  }

  .center{
      align-content: center;
      align-items: center;
  }

  .example-button-row button,
  .example-button-row {
    align-content: center;
    margin: auto;
    width: 200px;
    margin-bottom: 2%;
    cursor: pointer;
  }
.space-between-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.example-full-width {
    width: 100%;
    
  }

  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}