<app-toolbar></app-toolbar>

<body class="tab">
        <div class="center">
        <div class="example-container">
            <mat-list-item class="inputPad">Sua conta:</mat-list-item>
            <mat-divider class="padding"></mat-divider>

            <mat-form-field>
                <input matInput type="text" placeholder="Valor a ser transferido">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Número da conta que receberá a transferência">
            </mat-form-field>

            <mat-form-field>
                <input type="password" matInput placeholder="Confime sua senha">
            </mat-form-field>
        </div>
        <div class="example-button-row">
            <button mat-flat-button color="primary">Transferir</button>
            <button class="example-button-row2" mat-flat-button color="primary">Cancelar</button>
        </div>
        
        
    </div>
</body>