
.example-container {
     display: flex;
     flex-direction: column;
}

  .tab{  
    margin:auto;
    margin-top: 4%;
    align-content: center;
    width: 38%;
    height: min-content;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 1px 1px 5px red;
    padding: 0px 50px;
    padding-top: 1.5%;
    background: white;  
  }

  .inputPad{
      margin-top: 2%;
      margin-bottom: 1%;
      color: gray;
      align-content: flex-start !important;
  }

  .margin-bottom-center{
      margin-bottom: 3.2%;
      align-content: center;
      align-items: center;
      text-align: center;
  }

  .center{
      align-content: center;
      align-items: center;
  }

.example-button-row {
    position: relative;       
    width: 25%;
    text-align: center;
}

.example-button-row2{    
    margin-left: 6%;
    text-align: center;
    width: 25%;
}