.titulo{
  text-align:center;
  font-family: Verdana;
  color: green;
  font-size: 30px;
  line-height: 1em;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.tab{  
  margin:auto;
  margin-top: 4%;
  align-content: center;
  width: 38%;
  height: min-content;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 1px 1px 5px green;
  padding: 0px 50px;
  padding-top: 1.5%;     
  font-weight:500;
  font-size: 18px;	
  line-height: 22px;			
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(21, 218, 103, 0);
  background: #fff;
  box-shadow: 0;
  border: 3px solid green;
  overflow: hidden;
  position: relative;
}


.example-tab-icon{
  margin-top: -10% !important;
}
.margin-bottom-center{
  margin-bottom: 3.2%;
  align-content: center;
  align-items: center;
  text-align: center;
}

  .center{
      align-content: center;
      align-items: center;
  }

  .example-button-row button,
  .example-button-row {
    align-content: center;
    margin: auto;
    width: 200px;
    margin-bottom: 2%;
    cursor: pointer;
  }
.space-between-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.example-full-width {
    width: 100%;    
  }

  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}