<app-toolbarsegunda></app-toolbarsegunda>
<h1>POLÍTICA DE PRIVACIDADE</h1>
<mat-tab-group>  
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">account_balance</mat-icon>Política de privacidade
        </ng-template>
        <p>
            A equipe Russia Brasileira (RBR), têm como intuito agregar valor para pessoas e empresas, tentando fazer com que possam realizar sonhos e investir em opções que possuam uma rentabilidade satisfatóriamente boa. Tudo isto realizado de maneira verídica, honesta e responsável.
            Com isto, apresentamos os nossos Termos de Uso e a nossa Política de Privacidade, para que os nossos Usuários entendam facilmente as condições para a utilização do nosso site e que entendam a forma como coletamos e usamos suas informações. A política de privacidade será aceita a partir do momento que o usuário acessar o site pertencente a RBR.
            Se tiver dúvidas, entre em contato atravês de e-mail ou aparelho celular.           
        </p>
        <div class ="InfoP">
            <h2>Tópicos</h2>
            <div class= "ps">
                <li>Segurança da privacidade</li>
                <li>Manutenção</li>
                <li>Atualização da política de privacidade</li>
                <li>Para que usamos suas informações pessoais?</li>
            </div>
        </div>
    </mat-tab>  
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">security</mat-icon>Segurança da privacidade
        </ng-template>
        <p>
            Cuidamos das suas informações utilizando token, com isto aumentando a segurança e confidencialidade,
            para fornecer aos 
            nossos Usuários um ambiente seguro e confiável.            
        </p>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">build</mat-icon>Manutenção
        </ng-template>
          <p>
            O site pode passar por diversas manutenções, 
            no periódo que essas mautenções ocorrer, o site sairá do ar por tempo indeterminado.
          </p>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">autorenew</mat-icon>Atualização da política de privacidade
        </ng-template>  
        <p>
            A política de privacidade pode ser atualizada a qualquer momento, tudo para deixar o site mais viável para o Usuário.
        </p>                
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">face</mat-icon>Para que usamos suas informações pessoais?
        </ng-template>
        <p>
            Utilizamos suas informações para o funcionamento do site, realizar melhorias, progredir, análises, possíveis anúncios e cobranças.
        </p>
    </mat-tab>
</mat-tab-group>