<mat-toolbar class="container">RBR Bank</mat-toolbar>

<h3></h3>

<mat-tab-group animationDuration="0ms" mat-align-tabs="center">
    <mat-tab label="Entrar">
        <div class="center">
            <form class="example-form paddin-user">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="CPF" />
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Senha" />
                </mat-form-field>
            </form>

            <div class="example-button-row">
                <button mat-flat-button color="primary">Acessar</button>
            </div>
            <p>Ainda não é cadastrado? <a href="#cadastrar">Cadastre-se</a></p>
        </div>
    </mat-tab>
    <mat-tab label="Cadastrar"id="cadastrar">
        <div class="center">
            <form class="example-form paddin-user">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nome Completo" />
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="CPF" />
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Senha" />
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Confirme sua senha" />
                </mat-form-field>
            </form>
            <div class="example-button-row">
                    <button mat-flat-button color="primary">Cadastrar</button>
                </div>
        </div>
    </mat-tab>

</mat-tab-group>
