<mat-toolbar class="container">RBR Bank</mat-toolbar>

<h3>RBR</h3>
<mat-tab-group animationDuration="0ms" mat-align-tabs="center">
    <mat-tab label="Entrar">
        <div class="center">
            <form class="example-form paddin-user">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="CPF" mask='000.000.000-00' />
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input type="password" matInput placeholder="Senha" />
                </mat-form-field>
            </form>

            <div class="example-button-row">
                <button mat-flat-button color="primary">Acessar</button>
            </div>
            <p>Ainda não é cadastrado? <a href="#cadastrar">Cadastre-se</a></p>
        </div>
    </mat-tab>
    <mat-tab label="Cadastrar" id="cadastrar">
        <div class="center">
            <form class="example-form paddin-user">
                <mat-form-field class="example-full-width">
                    <input type="text" matInput placeholder="Nome Completo" [formControl]="nomeFormControl"
                        [errorStateMatcher]="matcher" />
                    <mat-error *ngIf="nomeFormControl.hasError('required')">
                        Digite seu nome!
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="CPF" mask='000.000.000-00' />
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input type="password" matInput placeholder="Senha" [formControl]="senhaFormControl"
                        [errorStateMatcher]="matcher" maxlength="16" />
                    <mat-error *ngIf="senhaFormControl.hasError('required')">
                        Sua senha deve ter pelo menos 6 dígitos!
                    </mat-error>

                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input type="password" matInput placeholder="Confirme sua senha"
                        [formControl]="confSenhaFormControl" [errorStateMatcher]="matcher" maxlength="16" />
                    <mat-error *ngIf="confSenhaFormControl.hasError('required')">
                        Suas senhas não conferem!
                    </mat-error>
                </mat-form-field>
            </form>
            <div class="example-button-row">
                <button mat-flat-button color="primary">Cadastrar</button>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>