footer {
    background-color: #B11521;
    text-align: center;
}

.center,
a {
    color: aliceblue;
    font-size: 92%;
}

p {
    display: inline;
    text-align: center!important;
    color: aliceblue;
    font-size: 75%;
}