<body>
    <footer class="footer">
        <div>
            <div class="center">

                <a href="devs" class="quemSomos">Quem somos nós</a><span> | </span>
                <a href="politics" class="politicaPriva">Política de Privacidade</a>
            </div>

        </div>
        <p>Copyright © 2019 RBR - Todos os direitos reservados</p>




    </footer>
</body>

<!--
<div class="containerInfo">
    <p>Sobre o RBR</p>
    <div class="quemSomos">
        <a href="devs" class="quemSomos">Quem somos nós</a>
    </div>
    <div class="politicaPriva">
        <a href="politics" class="politicaPriva">Política de Privacidade</a>
    </div>
</div>
<div class="containerInfo2">
    <p>Copyright © 2019 RBR - Todos os direitos reservados</p>
    <img class="logo" height="50px" src="../../../assets/img/logobrancoo.png" />
</div>
<div class="containerInfo3">
    <p>Comunicação</p>
    <div class="btn">
        <mat-icon height="50" aria-hidden="false" aria-label="Example home icon" class="botaoM">mail_outline
        </mat-icon>
        <mat-icon height="50" aria-hidden="false" aria-label="Example home icon" class="botaoM">settings_phone
        </mat-icon>
    </div>
    <div class="samuel">
        <p class="emailSamuel">samuel.silva@tcs.com</p>
        <p class="numberSamuel">(43) 9 9907-4632</p>
    </div>
</div>-->