<mat-toolbar class="container" color='primary'>    
    <div>
        <p>Sobre o RBR</p> 
        <a href="samuel" class="href">Quem somos nós</a>      
    </div>
    <div>
        <p>Copyright © 2019 RBR - Todos os direitos reservados</p> 
        <img class="logo" height="64px" src="../../../assets/img/logobrancoo.png" /> 
    </div>
    <div>
        <p>Comunicação</p>
        <div class="btn">
            <mat-icon height="50"aria-hidden="false" aria-label="Example home icon" class="botaoM">mail_outline</mat-icon>
            <mat-icon height="50"aria-hidden="false" aria-label="Example home icon" class="botaoM">settings_phone</mat-icon>
        </div> 
        <div class="samuel">
            <p>samuel.silva@tcs.com</p>
            <p>(43) 9 9907-4632</p>
        </div>        
    </div>               
        
</mat-toolbar>


