body{
    background: url(https://cdn.pixabay.com/photo/2017/09/07/08/54/money-2724241_960_720.jpg);
    background-size: cover;
  }
  
  .login{
    background-color: rgb(0,0,0,0.5);
    text-align: center;
    margin: auto;
    margin-top: 150px;
    border-style: solid;
    border-color: #C9FFB0;
    border-width: 3px;
    width: 300px;
    height: 200px;
    padding-top: 10px;
    border-radius: 20px; 
    box-shadow: 3px 3px 3px rgba(201,255,176,100);
  }
    
  .acesso{
    width: 150px;
    margin: auto;
    margin-top: 10px;
    width: 255px;
    height: 50px;
    background-color:#C9FFB0;
    border-color: #C9FFB0;
    border-style: solid;
  }
  .inLogin{
    background-color:#C9FFB0;
    margin:auto;
    margin-top: 10px;
    width: 250px;
    border-style: solid;
    border-color: #C9FFB0;
  }
  .inCpf{ 
    background-color:#C9FFB0;
    width: 250px;
    border-style: solid;
    border-color:#C9FFB0;
  }
  
  a {
   color:#C9FFB0;
  }

  
  