<app-toolbar></app-toolbar>

<body>
    <mat-list>
        <div class="tab">
            <mat-list-item>Valor Máximo de Emprestimo: R$ 5.000</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Valor Emprestado: R$ {{valorEmprestado}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Valor Disponível: R$ {{user?.account.loanLimit}}</mat-list-item>
            <mat-divider></mat-divider>

            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <input type="text" class="inputcenter" [formControl]="value" mask="comma_separator.2" matInput prefix="R$"
                        placeholder="Novo Emprestimo">
                </mat-form-field>
                <div class="center">
                    <div class="example-button-row">
                        <button mat-flat-button color="primary" (click)="doLoan(value)">Emprestar</button>
                    </div>
                    <div class="example-button-row">
                        <button mat-flat-button color="primary" (click)="cancelar()">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </mat-list>
</body>