<app-toolbar></app-toolbar>

<body>
    <mat-list>        
        <div class="tab">
            <h1 class="titulo">Empréstimo</h1>
            <mat-list-item><mat-icon class="example-tab-icon">attach_money</mat-icon>Valor Máximo de Emprestimo: R$ 5.000</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><mat-icon class="example-tab-icon">attach_money</mat-icon>Valor Emprestado: R$ {{valorEmprestado}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><mat-icon class="example-tab-icon">attach_money</mat-icon>Valor Disponível: R$ {{user?.account.loanLimit}}</mat-list-item>
            <mat-divider></mat-divider>

            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <input type="text" class="inputcenter" [formControl]="value" mask="comma_separator.2" matInput prefix="R$"
                        placeholder="Novo Emprestimo">
                </mat-form-field>

                <div class="example-button-row space-between-row example-full-width">
                    <button mat-flat-button color="primary" (click)="doLoan()">Realizar Empréstimo</button>
                    <button mat-flat-button color="warn" (click)="cancelar()">Cancelar</button>
                </div>
            </form>
        </div>
    </mat-list>
</body>