<app-toolbarsegunda></app-toolbarsegunda>
<h1>Quem somos nós</h1>    
<mat-tab-group>  
    <mat-tab>
        <ng-template mat-tab-label>
            <img width="100px"height="44px" top="-900px" src ="../../../assets/img/logovermelho.png"/>Quem somos nós
        </ng-template>
        <table>
            <tr>
                <td><img class="anderson"width="300px"height="300px"src ="../../../assets/img/logovermelhos.png"/></td>
                <td>
                    <p class="texto1">
                        A equipe Russia Brasileira (RBR), têm como intuito agregar valor para pessoas e empresas, tentando fazer com que possam realizar sonhos e investir em opções que possuam uma rentabilidade satisfatóriamente boa. Tudo isto realizado de maneira verídica, honesta e responsável.
                        A equipe é composta por 5 integrantes, estes tem a posição de, <b><u>Scrum Master, Product Owner, Desenvolvedores Back-End e Front-End.</u></b>
                    </p>
                    <h2>Equipe</h2>
                    <div class="ps">
                        <li>Anderson Sutil - <b class="muda">Product Owner</b> - <b><u>Back-End</u></b></li>
                        <li>Cesar Augusto - <b class="muda">Scrum Master</b> - <b><u>Back-End</u></b></li>
                        <li>Daniel Nascimento - <b><u>Back-End</u></b></li>
                        <li>Taynara Plath - <b><u>Front-End</u></b></li>
                        <li>Samuel Kennedy - <b><u>Front-End</u></b></li>
                    </div>
                </td>
            </tr>
        </table>
    </mat-tab>      
        <mat-tab>
            <ng-template mat-tab-label class="ander">
                <img class="anderSon"width="50px"height="50px" src ="../../../assets/img/ander.jpg"/>Anderson Sutil
            </ng-template>            
            <table>
                <tr>  
                    <td><img class="anderson"width="300px"height="300px" src ="../../../assets/img/ander.jpg"/></td>          
                    <td>                        
                        <p class="texto">                            
                            <b>Função na Equipe:</b><b><u><u class="muda">Product Owner</u></u></b> <b> e </b> <b><u><u class="muda2"> Desenvolvedor Back-End.</u></u></b>
                            <br>
                            <br><b>Competências:</b>Java, Metodologias Ágeis, Empreendedorismo, Assistência administrativa, SSMA (Saúde, segurança e meio ambiente), Ferramentas e tecnologias, AngularJSReact.js                            
                            <br>
                            <br><b>Experiência:</b>UNOPAR - Universidade Norte do Paraná Área de estudo CST em Análise e Desenvolvimento de Sistemas
                        </p>
                    </td>
                </tr>
            </table>
        </mat-tab> 
        <mat-tab>
            <ng-template mat-tab-label class="ander">
                <img class="anderSon"width="50px"height="50px" src ="../../../assets/img/cesa.jpg"/>Cesar Augusto
            </ng-template>
            <table>
                <tr>  
                    <td><img class="anderson"width="300px"height="300px" src ="../../../assets/img/cesa.jpg"/>
                    <td>                        
                        <p class="texto">                            
                            <b>Função na Equipe:</b><b><u><u class="muda">Scrum Master</u></u></b> <b> e </b> <b><u><u class="muda2"> Desenvolvedor Back-End.</u></u></b>
                            <br>
                            <br><b>Competências:</b>C#, Linguagem Assembly, JavaScript, Microsoft Word, CSS, HTML, HTML5, Arduino, Outras competências, Ladder, Requisitos de software, processing
                            <br>
                            <br><b>Experiência:</b>Universidade Tecnológica Federal do Paraná - Engenharia de Software, ETEC Zona Sul - Técnico em Eletrônica, ETEC Zona Sul - Ensino médio e Eletronica, Arduino Basico, Arduino Intermediario, Segurança no Trabalho, Espanhol e Inglês.
                        </p>
                    </td>
                </tr>
            </table> 
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label class="ander">
                <img class="anderSon"width="50px"height="50px" src ="../../../assets/img/dan.jpg"/>Daniel Nascimento
            </ng-template>
            <table>
                <tr>  
                    <td><img class="anderson"width="300px"height="300px" src ="../../../assets/img/dan.jpg"/>
                    <td>                        
                        <p class="texto">                            
                            <b>Função na Equipe:</b><b><u class="muda2">Desenvolvedor Back-End.</u></b>
                            <br>
                            <br><b>Competências:</b>Microsoft Excel, Windows, PowerPoint, Microsoft Word, MySQL, Linux, PHP, CSS, C#, Python, Java, Unity, C (linguagem de programação), Unreal Engine 3, Testes automatizados de software, Testes automatizados de software, Testes com Selenium, Microsoft Office, HTML e SQL.
                            <br>
                            <br><b>Experiência:</b>Universidade Tecnológica Federal do Paraná - Bacharelado em Engenharia e Tecnologia da Informação, Faculdade Anhanguera - Gestão da Tecnologia da Informação e Tecnologia da Informação, ETEC de Embu - Técnico de Redes de Computadores e Informática, W School Language - Língua Inglesa. 
                        </p>
                    </td>
                </tr>
            </table> 
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label class="ander">
                <img class="anderSon"width="50px"height="50px" src ="../../../assets/img/tay.jpg"/>Taynara Plath
            </ng-template>
            <table>
                <tr>  
                    <td><img class="anderson"width="300px"height="300px" src ="../../../assets/img/tay.jpg"/></td>          
                    <td>                        
                        <p class="texto">                            
                            <b>Função na Equipe:</b><b><u class="muda3">Desenvolvedor Front-End.</u></b>
                            <br>
                            <br><b>Competências:</b>Java, HTML5, CSS, Ciência da computação, Microsoft SQL Server e Atendimento ao Cliente.
                            <br>
                            <br><b>Experiência:</b>UNESPAR - Universidade Estadual do Paraná - Bacharelado em Ciência da Computação.
                        </p>
                    </td>
                </tr>
            </table>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label class="ander">
                <img class="anderSon"width="50px"height="50px" src ="../../../assets/img/sam.jpg"/>Samuel Kennedy
            </ng-template>
            <table>
                <tr>  
                    <td><img class="anderson"width="300px"height="300px" src ="../../../assets/img/sams.jpg"/></td>          
                    <td>                        
                        <p class="texto">                            
                            <b>Função na Equipe:</b><b><u class="muda3">Desenvolvedor Front-End.</u></b>
                            <br>
                            <br><b>Competências:</b>AngularJS, CSS, ITIL, Pacote para Office, Java, HTML5, HTML, Windows, Atendimento ao Cliente, Codificação de front-end, TypeScript e Angular Material.
                            <br>
                            <br><b>Experiência:</b>Universidade Positivo - Tecnólogo em Análise e Desenvolvimento de Sistemas, Tata Consultancy Services - Trainee, Super Mercado Planos - Operador de computador, Análises e Relatórios em Excel | MVA Microsoft. Banco De Dados | Curso em Vídeo WMBarros | C#, Curso de Algoritmos | Curso em Vídeo, Gestão de Processos - Business Process Managament (BPM) | Fundação Bradesco, ITIL - Intrudução a Bliblioteca | Learncafe. Pipefy - CERTIFICAÇÃO PROCESS MANAGEMENT e Runrun.it - CERTIFICAÇÃO PROJECTS MANAGEMENT.
                        </p>
                    </td>
                </tr>
            </table>
        </mat-tab>
        
</mat-tab-group>

