<app-toolbarsegunda></app-toolbarsegunda>
<h1>Quem somos nós</h1>    
<mat-tab-group>  
    <mat-tab>
        <ng-template mat-tab-label>
            <img width="64px"height="44px" src ="../../../assets/img/logovermelho.png"/>Quem somos nós
        </ng-template>
        <p class="texto1">
            A equipe Russia Brasileira (RBR), têm como intuito agregar valor para pessoas e empresas, tentando fazer com que possam realizar sonhos e investir em opções que possuam uma rentabilidade satisfatóriamente boa. Tudo isto realizado de maneira verídica, honesta e responsável.
            A equipe é composta por 5 integrantes, estes tem a posição de, <b><u>Scrum Master, Product Owner, Desenvolvedores Back-End e Front-End.</u></b>
        </p>
        <h2>Equipe</h2>
        <div class="ps">
            <li>Anderson Sutil - <b class="muda">Product Owner</b> - <b><u>Back-End</u></b></li>
            <li>Cesar Augusto - <b class="muda">Scrum Master</b> - <b><u>Back-End</u></b></li>
            <li>Daniel Nascimento - <b><u>Back-End</u></b></li>
            <li>Taynara Plath - <b><u>Front-End</u></b></li>
            <li>Samuel Kennedy - <b><u>Front-End</u></b></li>
        </div>
    </mat-tab>      
        <mat-tab>
            <ng-template mat-tab-label class="ander">
                <img class="anderSon"width="50px"height="50px" src ="../../../assets/img/ander.jpg"/>Anderson Sutil
            </ng-template>            
            <table>
                <tr>  
                    <td><img class="anderson"width="300px"height="300px" src ="../../../assets/img/ander.jpg"/></td>          
                    <td>                        
                        <p class="texto">                            
                            <b>Função na Equipe:</b><b><u><b class="muda">Product Owner</b> e Desenvolvedor Back-End.</u></b>
                            <br>
                            <br><b>Competências:</b>Java, Metodologias Ágeis, Empreendedorismo, Assistência administrativa, SSMA (Saúde, segurança e meio ambiente), Ferramentas e tecnologias, AngularJSReact.js                            
                            <br>
                            <br><b>Experiência:</b>UNOPAR - Universidade Norte do Paraná Área de estudo CST em Análise e Desenvolvimento de Sistemas
                        </p>
                    </td>
                </tr>
            </table>
        </mat-tab> 
        <mat-tab>
            <ng-template mat-tab-label class="ander">
                <img class="anderSon"width="50px"height="50px" src ="../../../assets/img/cesa.jpg"/>Cesar Augusto
            </ng-template>
            <p>
                A equipe Russia Brasileira (RBR), têm como intuito agregar valor para pessoas e empresas, tentando fazer com que possam realizar sonhos e investir em opções que possuam uma rentabilidade satisfatóriamente boa. Tudo isto realizado de maneira verídica, honesta e responsável.
                A equipe é composta por 5 integrantes, estes tem a posição de, <b><u>Scrum Master, Product Owner, Desenvolvedores Back-End e Front-End.</u></b>
            </p> 
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label class="ander">
                <img class="anderSon"width="50px"height="50px" src ="../../../assets/img/dan.jpg"/>Daniel Nascimento
            </ng-template>
            <p>
                A equipe Russia Brasileira (RBR), têm como intuito agregar valor para pessoas e empresas, tentando fazer com que possam realizar sonhos e investir em opções que possuam uma rentabilidade satisfatóriamente boa. Tudo isto realizado de maneira verídica, honesta e responsável.
                A equipe é composta por 5 integrantes, estes tem a posição de, <b><u>Scrum Master, Product Owner, Desenvolvedores Back-End e Front-End.</u></b>
            </p> 
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label class="ander">
                <img class="anderSon"width="50px"height="50px" src ="../../../assets/img/tay.jpg"/>Taynara Plath
            </ng-template>
            <p>
                A equipe Russia Brasileira (RBR), têm como intuito agregar valor para pessoas e empresas, tentando fazer com que possam realizar sonhos e investir em opções que possuam uma rentabilidade satisfatóriamente boa. Tudo isto realizado de maneira verídica, honesta e responsável.
                A equipe é composta por 5 integrantes, estes tem a posição de, <b><u>Scrum Master, Product Owner, Desenvolvedores Back-End e Front-End.</u></b>
            </p> 
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label class="ander">
                <img class="anderSon"width="50px"height="50px" src ="../../../assets/img/sam.png"/>Samuel Kennedy
            </ng-template>
            <p>
                A equipe Russia Brasileira (RBR), têm como intuito agregar valor para pessoas e empresas, tentando fazer com que possam realizar sonhos e investir em opções que possuam uma rentabilidade satisfatóriamente boa. Tudo isto realizado de maneira verídica, honesta e responsável.
                A equipe é composta por 5 integrantes, estes tem a posição de, <b><u>Scrum Master, Product Owner, Desenvolvedores Back-End e Front-End.</u></b>
            </p> 
        </mat-tab>
        
</mat-tab-group>
<app-rodape></app-rodape>
