<app-toolbar></app-toolbar>

<body>
  <mat-list>
    <div class="tab">
      <h1 class="titulo">Detalhes da Conta</h1>
      <mat-list-item style="align-content: center"> Agencia: {{user.account.bankBranch}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Número da Conta: {{user.account.numberAccount}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Nome: {{user.name}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>CPF: {{user.cpf}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Saldo: {{user.account.balance}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Limite de Emprestimo: {{user.account.loanLimit}}</mat-list-item>
      <mat-divider></mat-divider>
      <div class="example-button-row">
        <button mat-flat-button color="primary" (click)="deposito()" >Depósito</button>
        <button mat-flat-button color="warn" (click)="voltardetalhes()">Voltar</button>
      </div>
    </div>
  </mat-list>
</body>
