.titulo{
  text-align:center;
}

body{
  background-color: #EFE9E5;
}
.tab{  
  margin:auto;
  margin-top: 4%;
  align-content: center;
  width: 38%;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 1px 1px 5px red;
  padding: 0px 50px;
  padding-bottom: 20px;
  background: white;  
  background-size: cover;
}
.example-button-row button,
.example-button-row {  
  align-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  width: 200px;
  display: inline;
  margin-left: 4.4%;
}

