.titulo{
  text-align:center;
}

.tab{  
  margin:auto;
  margin-top: 6%;
  margin-left: 33%;
  width: 38%;
  border: 1px solid #000;
  border-radius: 10px 3%;
  box-shadow: 1px 1px 5px red;
}
.example-button-row button,
.example-button-row {  
  margin: auto;
  margin-top: 10px;
  margin-left: 39%;
  width: 200px;
}
