<app-toolbar></app-toolbar>
<body>
  <mat-list>    
    <div class="tab">
      <h1 class="titulo">Detalhes da Conta</h1>
      <mat-list-item>Nome:</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>CPF:</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Número da Conta:</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Saldo:</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Limite Máximo:</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Limite de Emprestimo:</mat-list-item>
      <mat-divider></mat-divider>    
      <div class="example-button-row">
        <button mat-flat-button color="primary" (click)="voltardetalhes()">Voltar</button>          
      </div>          
    </div>    
  </mat-list>
</body>