.titulo{
<<<<<<< HEAD
    text-align:center;
  }
=======
  text-align:center;
}

.tab{  
  margin:auto;
  margin-top: 4%;
  align-content: center;
  width: 38%;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 1px 1px 5px red;
  padding: 0px 50px;
  padding-bottom: 20px;
  background: white;  
}
.example-button-row button,
.example-button-row { 
  align-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 200px;
  display: inline;
  margin-left: 4.4%;
}
>>>>>>> 246276e2e17b4b64a0d63f17a23ffe257934497d

.example-full-width{
  width: 100%;
}

.margin-bottom-inp{
  margin-top: 1.5%;
  margin-bottom: 1%;
}

.margin-bottom-quant{
margin-top: 2%;
margin-bottom: -4%;
}
