<mat-toolbar class="container">      
        <div class=logoTipo>    
          <img height="64px" src ="../../../assets/img/logobrancoo.png" (click)="redirecionamento()"/>    
        </div>
        <div class= "comeco">
          <p>RBR | JUNTOS COM VOCE</p>
        </div>
        <div class="container pessoal">
          <p>{{user?.name}}</p>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="sair()">
              <mat-icon>power_settings_new</mat-icon>
              <span>Sair</span>
            </button>            
          </mat-menu>
        </div>
      </mat-toolbar>     