.fundo {
  background-size: cover;        
} 
body{
  background-color: #EFE9E5;
  border-right: 1px solid #000;    
}
.alinhando{
  align-content: center;
  text-align: center;  
  margin-right: 1.5%; 
  padding-bottom: 1%     
}
.cards {
  text-align:left;
}
.example-card{      
  vertical-align: top;
  width: 270px;
  height: 350px;
  margin-left: 17px;
  border: 1px solid #000;
  border-radius: 10px 3%;
  margin-top: 10px;    
  box-shadow: 3px 3px 5px green; 
  display: inline-block;        
  position:relative;
  cursor: pointer;                        
} 
.example-card:hover{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.9);
  transition: 1s;
  cursor: pointer;
}
.titleCorrente{
  text-align: left;
  text-indent: -58px; 
}
.top{
  margin-top: 45px;        
}
.imagens{
  margin-top: -10px;    
  text-align:center;    
}
.container {                 
  background-color: #B11521;  
}
.tituloInvest{
  text-align: center;
}
.aplicaPoup{
  margin-top: -20px !important;
}
.abraConta{
  margin-top: 10px;
}
