.titulo{
    text-align:center;
  }
  
  body{
    background-color: #EFE9E5;
  }
  .example-button-row button,
  .example-button-row {  
    align-content: center;
    margin: auto;
    margin-top: 10px;
    width: 200px;
  }
  .aplicaPoup{
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
      align-content: center;      
      text-align: center;
      align-items: center;     
  }