<app-toolbar></app-toolbar>
<div class="fundo">
    <h1 class="tituloInvest">Investimento</h1>      
    <body>                            
        <div class="top">                      
            <div class="imagens">
                <div class="container">        
                    <hr class="toper">        
                        <div class="cards">                
                            <div class="alinhando">
                                <mat-card class="example-card" (click)="poupanca()">               
                                    <mat-card-header>      
                                        <div mat-card-avatar class="example-header-image"></div>        
                                        <mat-card-title class="titleCorrente">Poupança</mat-card-title>    
                                    </mat-card-header>            
                                    <img height="125"mat-card-image src="../../../assets/img/poupanca.jpg" >                                                 
                                        <mat-list class="aplicaPoup">    
                                            <mat-list-item>Aplicação Mínima:R$ 0.01</mat-list-item>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>Rentabilidade: 4.52%</mat-list-item>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>Risco: <p class="baixoGreen"> baixo</p></mat-list-item>
                                            <mat-divider></mat-divider>
                                            <mat-card-actions>
                                                <button mat-flat-button color="primary" class="abraConta">Investir Poupança</button>                    
                                            </mat-card-actions>
                                        </mat-list>                                                                                                                                                                                                                  
                                </mat-card>
                                <mat-card class="example-card" (click)="cdi()">               
                                        <mat-card-header>      
                                            <div mat-card-avatar class="example-header-image"></div>        
                                            <mat-card-title class="titleCorrente">CDI</mat-card-title>    
                                        </mat-card-header>            
                                        <img height="125"mat-card-image src="../../../assets/img/cdi.jpg" >                                                 
                                            <mat-list class="aplicaPoup">    
                                                <mat-list-item>Aplicação Mínima:R$ 25</mat-list-item>
                                                <mat-divider></mat-divider>
                                                <mat-list-item>Rentabilidade: 6.43%</mat-list-item>
                                                <mat-divider></mat-divider>
                                                <mat-list-item>Risco: <p class="medioOrange"> médio</p></mat-list-item>
                                                <mat-divider></mat-divider>
                                                <mat-card-actions>
                                                    <button mat-flat-button color="primary" class="abraConta">Investir CDI</button>                    
                                                </mat-card-actions>
                                            </mat-list>                                                                                                                                                                          
                                    </mat-card>
                                    <mat-card class="example-card" (click)="ipca()">               
                                            <mat-card-header>      
                                                <div mat-card-avatar class="example-header-image"></div>        
                                                <mat-card-title class="titleCorrente">IPCA</mat-card-title>    
                                            </mat-card-header>            
                                            <img height="125"mat-card-image src="../../../assets/img/ipca.jpg" >                                                 
                                                <mat-list class="aplicaPoup">    
                                                    <mat-list-item>Aplicação Mínima:R$ 30</mat-list-item>
                                                    <mat-divider></mat-divider>
                                                    <mat-list-item>Rentabilidade: 10.12%</mat-list-item>
                                                    <mat-divider></mat-divider>
                                                    <mat-list-item>Risco: <span class="altoRed"> alto</span></mat-list-item>
                                                    <mat-divider></mat-divider>
                                                    <mat-card-actions>
                                                        <button mat-flat-button color="primary" class="abraConta">Investir IPCA</button>                    
                                                    </mat-card-actions>
                                                </mat-list>                                                                                                                                                                          
                                        </mat-card>
                            </div>                              
                        </div> 
                    <hr> 
                </div>
            </div>
        </div>    
    </body>
</div>
