<app-toolbar></app-toolbar>   
<h1 class="titulo">Investimento | Poupança</h1> 
    <mat-tab-group class="tab" mat-align-tabs="center">                    
        <mat-tab label="Poupança">            
            <mat-list class="aplicaPoup">    
                <mat-list-item>Aplicação Mínima:R$ 0.01</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Rentabilidade: 4,52%</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Risco: baixo</mat-list-item>
                <mat-divider></mat-divider>
                <button class="btnPoup" mat-flat-button color="primary" (click)="investimento()">Aplicar</button>
            </mat-list>
        </mat-tab>
        <mat-tab label="CDI"> CDI </mat-tab>
        <mat-tab label="IPCA"> IPCA </mat-tab>
    </mat-tab-group>    