@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* You can add global styles to this file, and also import other style files */

.mat-tab-group.mat-primary .mat-ink-bar{
    background-color: #B11521 ;
}
.mat-flat-button.mat-primary{
    background-color: #B11521 ;
}
