html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tab-group.mat-primary .mat-ink-bar{
    background-color: #B11521 ;
}
.mat-flat-button.mat-primary{
    background-color: #B11521 ;
}